:host {
	display: block;
}

:host([mode="search"]) {
  display: inline-block;
}

:host #label {
	padding: 8px;
	background: #E4E4E4;
	text-transform: uppercase;
	color: #3E3E3E;
	text-align: center;
}

:host([mode="search"]) #label {
  display: none;
}

:host #layout {
	margin: 0;
	max-width: 400px;
}

:host([mode="search"])::shadow ::content [square-block] {
  display: none;
}

:host([mode="search"])::shadow ::content [square-block][search-result] {
  display: inline-block;
}