:host {
	display: block;
}

:host #matting {
	padding: 0 15px!important;
	font-family: RobotoDraft;
	font-size: 14px;
	background: white!important;
}

:host #border1,
:host #border2,
:host #border3 {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

:host #border2 {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

:host([mode="edit"]) #border2:hover {
	border-color: #EBEBEB;
}

:host #border3 {
	padding: 15px;
}

:host #matting[topDroplet] #border1,
:host #matting[topDroplet] #border2,
:host #matting[topDroplet] #border3 {
	border-top-color: #222222;
}

:host #matting[bottomDroplet] #border1,
:host #matting[bottomDroplet] #border2,
:host #matting[bottomDroplet] #border3 {
	border-bottom-color: #222222;
}

:host #topDroplet,
:host #bottomDroplet {
	position: absolute;
	left: 0;
	color: #CCCCCC;
	width: 0;
	height: 0;
	z-index: 1;
}

:host #topDroplet {
	top: 0;
}

:host #bottomDroplet {
	bottom: 0;
}

:host #topDroplet:hover,
:host #bottomDroplet:hover {
	color: #222222;
	cursor: pointer;
}

:host #toolbar {
  background: #3e3e3e;
}

:host([mode="view"]) #toolbar {
  display: none!important;
}

:host #toolbar > .button {
  padding: 7px;
  display: inline-block;
  background: transparent;
  border: 0;
  color: #C4C4C4;
  outline: none;
}

:host #toolbar > .button[disabled] {
  color: #777777;
}

:host #toolbar > .button:not([disabled]):hover {
  cursor: pointer;
  color: white;
}

:host #toolbar > .button.danger:not([disabled]):hover {
  background: #F0523D;
}

:host #toolbar > .button.active {
  background: #797979;
  color: white;
}

:host #toolbar > .button > core-icon {
  width: 20px;
  height: 20px;
}

:host #toolbar > core-dropdown > core-menu > .button {
  padding: 7px;
  display: block;
  background: transparent;
  border: 0;
  color: #c4c4c4;
  outline: none;
  width: calc(100% - 14px);
  text-align: left;
  line-height: 20px;
}

:host #toolbar > core-dropdown > core-menu > .button:hover {
  cursor: pointer;
  color: white;
}

:host #toolbar > core-dropdown > core-menu > .button.active {
  background: #797979;
  color: white;
}

:host #toolbar > core-dropdown > core-menu > .button.danger:hover {
  background: #F0523D;
}

:host #toolbar h1,
:host #toolbar h2,
:host #toolbar h3 {
  margin: 0;
}

:host #toolbar core-menu {
  margin: 0;
}

:host #toolbar core-dropdown {
  background: #3e3e3e;
  overflow-x: hidden;
  top: 34px!important;
  max-height: 136px;
}

:host #toolbarLabel {
  line-height: 20px;
  padding: 7px;
  text-transform: uppercase;
  color: #c4c4c4;
  display: inline-block;
  cursor: default;
}

:host #toolbarLabel:hover {
  cursor: move;
  cursor: url(openhand.cur), move;
  cursor: url(openhand.cur) 4 4, move;
}