:host {
	display: block;
	min-height: 400px;
	position: relative;
}

:host([mode="edit"]) #blocks {
  padding: 15px;
}

:host #mounting {
	background: white;
	height: 100%;
	max-height: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

:host #mounting > core-header-panel core-toolbar {
  background: transparent;
}

:host #mounting > core-header-panel core-toolbar paper-icon-button {
  color: #ccc;
}

:host #mounting > core-header-panel core-toolbar paper-icon-button:hover {
  color: #222;
}

:host #mounting > core-header-panel core-toolbar paper-icon-button.danger:hover {
  color: #F0523D;
}

:host #blockChooser {
	min-width: 100px;
	min-height: 100px;
}

:host #blockChooser::shadow #scroller {
	overflow-x: hidden;
}

:host #blockChooser > div {
	min-width: 400px;
	min-height: 100px;
}

:host([mode="view"]) #blockChooser {
	display: none;
}

:host content[select="[square-block],square-layout"]::content [square-block][mode='edit'] + [square-block][mode='edit'],
:host content[select="[square-block],square-layout"]::content square-layout[mode='edit'] + [square-block][mode='edit'],
:host content[select="[square-block],square-layout"]::content [square-block][mode='edit'] + square-layout[mode='edit'] {
	margin-top: -3px;
}

:host content[select="[square-block],square-layout"]::content [square-block][mode='edit'] + [square-block][mode='edit']::shadow #topDroplet {
	display: none;
}

:host([mode="view"]) content[select="[square-category]"]::content [square-category] {
	display: none;
}

:host #fabLayout {
	overflow: hidden;
	pointer-events: none;
}

:host([mode="view"]) #fabLayout {
	display: none;
}

:host #fabMounting {
	position: absolute;
	bottom: -110px;
	opacity: 0;
	width: 100%;
}

:host #fab {
	background: black;
	pointer-events: all;
	margin: 0px auto;
	display: block;
}

:host #sizing > core-toolbar {
  background: #e4e4e4;
}

:host #blockSearch {
  min-height: 0!important;
}

:host #blockSearch core-icon {
  margin: 8px;
}

:host #blockSearch input {
  font-size: 14px;
  max-width: calc(100% - 75px);
  padding: 0 8px;
}